<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>-->
<!--<ul>{{text}}</ul>-->
<article>
    <h1>Moje złote myśli</h1>
  <input type="text" [value]="text" (input)="text = $event.target.value">
<button (click)="addThought()">Dodaj</button>
<ul>
  <li *ngFor="let thought of thoughts; let i = index">
    {{thought}}
    <button (click)="removeThought(i)">Usuń</button>
  </li>
</ul>

<router-outlet></router-outlet>
</article>



