button {
    background-color: #4CAF50; /* Green */
    border: 2px;
    color: #ffffff;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  input {
    width: 30%;
  }

  article {
    margin: auto;
    width: 50%;
    border: 3px solid yellowgreen;
    padding: 10px;
    text-align: center;
    position: relative;
    background-color: azure;
  }
  
  ul {
    text-align: center;
    padding: 0;
  }
  li {
    display: block;
    color: rgb(139, 139, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  h1 {
    color: rgb(139, 139, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
  }

  input{
    color: rgb(139, 139, 8);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  